__pycache__
.vscode
.DS_Store
nohup.*
/ckpts/
/decode_output/
/finetuning/outputs/
/finetuning/DocVQA-outputs/
/finetuning/DocVQA/ViTLP-OCR/
/finetuning/DocVQA/ViTLP-OCR-augmented/
/finetuning/DocVQA/Paddle-OCR/
/finetuning/DocVQA/MS-OCR/
/finetuning/DocVQA/ViTLP-OCR-early_stopping/
/finetuning/DocVQA/ViTLP-OCR-augmented-early_stopping/
/finetuning/DocVQA/ViTLP-OCR-split/
/finetuning/DocVQA/ViTLP-OCR-augmented-split/
/finetuning/DocVQA/Paddle-OCR-split/
/finetuning/DocVQA/MS-OCR-split/
/finetuning/DocVQA/ViTLP-OCR-early_stopping-split/
/finetuning/DocVQA/ViTLP-OCR-augmented-early_stopping-split/
/finetuning/DocVQA/documents/
/finetuning/DocVQA/ocr/
/finetuning/DocVQA/*.zip
/finetuning/DocVQA/*_ocr.py
/finetuning/DocVQA/*_ocr*.py
/finetuning/DocVQA/ocr-cache.json
/finetuning/DocVQA/console.py
/finetuning/DocVQA/console-augmented.py
/finetuning/DocVQA/spdocvqa_images.tar.gz
/finetuning/DocVQA/spdocvqa_ocr.tar.gz
/finetuning/DocVQA/visualization
finetuning/temp.sh
finetuning/anls.py
finetuning/docvqa.py
finetuning/prediction.json
finetuning/prediction.txt
